.articlePleaContainer {
  border: 3px solid #18213a;
  background-color: #fff;
  padding: 1.5em 1.5em 4em;
  font-family: "Lora", serif;
  grid-column-end: span 8;
  grid-row-end: span 1;
  grid-column-start: 2;
  margin-top: 30px;
  position: relative;
  .headerWrapper {
    display: flex;
    flex-direction: column;
    .image {
      display: none;
    }
    .titlePlea {
      font-size: 1.5em;
      color: #f04f3c;
      font-family: TuskerGrotesk-5600SemiBold;
    }
  }
  .content,
  .donation {
    color: #000;
    font-size: 1rem;
    letter-spacing: 0px;
    line-height: 25px;
    a {
      color: #000;
    }
  }
  .buttonWrapper {
    width: 100%;
    margin: 50px 0 0;
    .donation {
      margin: 30px 0 0;
    }
  }

  .buttonHanging {
    position: absolute;
    bottom: -30px;
    right: 20px;
    display: flex;
    flex-direction: column;
    .logo {
      width: 150px;
      margin-left: auto;
      margin-bottom: 5px;
      img {
        width: 100%;
      }
    }
    .btnPlus {
      padding: 10px 60px 15px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      border: 1px solid #f04f3c;
      position: relative;
      background-color: #f04f3c;
      color: #fff;
      text-decoration: none;
      p {
        margin: 0;
      }
      .label {
        font-family: TuskerGrotesk-6500Medium;
        font-size: 0.75rem;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        line-height: 17px;
      }
      .subLabel {
        font-size: 0.7em;
        font-weight: bold;
        margin-top: 2px;
        font-style: italic;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .articlePleaContainer {
    grid-column-end: span 6;
    grid-row-end: span 1;
    grid-column-start: 3;
    .headerWrapper {
      flex-direction: row;
      .image {
        width: 15%;
      }
      .titlePlea {
        font-size: 1.7em;
        font-family: TuskerGrotesk-5600SemiBold;
      }
    }
    .content,
    .donation {
      font-size: 1.125rem;
      letter-spacing: 0px;
      line-height: 29px;
    }
    .buttonWrapper {
      .btnPlus {
        padding: 5px 70px;
      }
    }
  }
}

@media only screen and (min-width: 1180px) {
  .articlePleaContainer {
    grid-column-end: span 7;
    grid-row-end: span 1;
    grid-column-start: 4;
    .headerWrapper {
      display: flex;
      .image {
        width: 20%;
      }
      .titlePlea {
        font-size: 1.5em;
      }
      .content {
        font-size: 1.1em;
      }
    }
  }
}
