.articlePleaContainer {
  background-color: #18213a;
  padding: 1.5em;
  font-family: "Lora", serif;
  grid-column-end: span 8;
  grid-row-end: span 1;
  grid-column-start: 2;
  margin-top: 30px;
  .headerWrapper {
    display: flex;
    flex-direction: column;
    .image {
      width: 30%;
      margin: auto;
      img {
        width: 100%;
      }
    }
    .titlePlea {
      font-size: 1.5em;
      color: #fff;
      font-family: "Lora", serif;
    }
  }
  .content {
    color: #fff;
    font-family: "Lora", serif;
    font-size: 1em;
    line-height: 1.5;
  }
  .buttonWrapper {
    width: 100%;
    margin: 50px 0 0;
    .btnPlus {
      padding: 5px 50px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      border: 1px solid #f04f3c;
      position: relative;
      background-color: #f04f3c;
      color: #fff;
      text-decoration: none;
      // &:before {
      //   content: "";
      //   display: block;
      //   position: absolute;
      //   z-index: 9999;
      //   top: 1px;
      //   left: 1px;
      //   right: 1px;
      //   bottom: 1px;
      //   border: 2px solid #18213a;
      // }
      p {
        margin: 0;
      }
      .label {
        font-size: 1.3em;
        font-weight: bold;
      }
      .subLabel {
        font-size: 0.7em;
        font-weight: bold;
        margin-top: 2px;
      }
    }
    .donation {
      margin: 30px 0 0;
      font-size: 1.1rem;
      color: #fff;

      a {
        color: #fff;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .articlePleaContainer {
    grid-column-end: span 6;
    grid-row-end: span 1;
    grid-column-start: 3;
    .headerWrapper {
      flex-direction: row;
      .image {
        width: 15%;
      }
      .titlePlea {
        align-self: center;
        font-size: 1.9em;
        margin-left: 20px;
      }
    }
    .content {
      font-size: 1.2em;
    }
    .buttonWrapper {
      .btnPlus {
        padding: 5px 70px;
      }
    }
    .donation {
      font-size: 1.2em;
    }
  }
}

@media only screen and (min-width: 1180px) {
  .articlePleaContainer {
    grid-column-end: span 7;
    grid-row-end: span 1;
    grid-column-start: 4;
    .headerWrapper {
      display: flex;
      .image {
        width: 20%;
      }
      .titlePlea {
        font-size: 1.5em;
      }
      .content {
        font-size: 1.1em;
      }
    }
  }
}
