.articlePleaContainer {
  background-color: #fff;
  // background-color: #18213a;
  border: 3px solid #18213a;
  padding: 1.5em 1.5em 3.8em;
  font-family: "Lora", serif;
  grid-column-end: span 8;
  grid-row-end: span 1;
  grid-column-start: 2;
  margin-top: 30px;
  position: relative;
  .contentWrapper {
    width: 85%;
    margin: 0 15px 40px auto;
    .headerWrapper {
      display: flex;
      flex-direction: column;
      .image {
        width: 30%;
        margin: auto;
        img {
          width: 100%;
        }
      }
      .titlePlea {
        font-size: 1.5em;
        color: #f04f3c;
        font-family: TuskerGrotesk-5600SemiBold;
      }
    }
    .content,
    .donation {
      color: #000;
      font-size: 1rem;
      letter-spacing: 0px;
      line-height: 25px;
      a {
        color: #000;
      }
    }
    .buttonWrapper {
      width: 100%;
      // margin: 50px 0 0;
      .donation {
        // margin: 30px 0 0;
      }
    }
  }
  .logoContainer {
    display: flex;
    .logo {
      width: 150px;
      margin: auto auto -20px;
      img {
        width: 100%;
      }
    }
  }
  .buttonHanging {
    cursor: pointer;
    position: absolute;
    bottom: -80px;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    // display: flex;
    // flex-direction: column;
    .btnPlus {
      padding: 10px 14px 15px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      border: 1px solid #f04f3c;
      position: relative;
      background-color: #f04f3c;
      color: #fff;
      text-decoration: none;
      p {
        margin: 0;
      }
      .label {
        font-family: TuskerGrotesk-6500Medium;
        font-size: 1.3em;
        text-transform: uppercase;
        // letter-spacing: 2.5px;
        // line-height: 17px;
      }
      .subLabel {
        font-size: 0.8em;
        font-weight: bold;
        margin-top: 5px;
        font-style: italic;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .articlePleaContainer {
    .contentWrapper {
      width: 65%;
      margin-right: 30px;
      margin-left: auto;
      .headerWrapper {
        flex-direction: row;
        .image {
          width: 15%;
        }
        .titlePlea {
          align-self: center;
          margin-left: 20px;
          font-size: 1.7em;
          font-family: TuskerGrotesk-5600SemiBold;
        }
      }
      .content,
      .donation {
        font-size: 1.125rem;
        letter-spacing: 0px;
        line-height: 29px;
      }
      .buttonWrapper {
        .btnPlus {
          padding: 5px 70px;
        }
      }
    }
    .logoContainer {
      .logo {
        margin-right: 0;
      }
    }
    .buttonHanging {
      .btnPlus {
        padding: 10px 60px 15px;
      }
    }
  }
}

@media only screen and (min-width: 1180px) {
  .articlePleaContainer {
    .contentWrapper {
      // grid-column-end: span 7;
      // grid-row-end: span 1;
      // grid-column-start: 4;
      width: 50%;
      margin-right: auto;
      margin-left: auto;
      .headerWrapper {
        display: flex;
        .image {
          width: 20%;
        }
        .titlePlea {
          font-size: 1.7em;
        }
        .content {
          font-size: 1.1em;
        }
      }
    }
  }
}
